<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	<h1>Dashboard</h1>

	

	<h2>Students</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ student[0] }}</td>
				<td>{{ student[1] }}</td>
				<td>{{ student[2] }}</td>
				<td><a href="{{ url_for('quiz_results', id=student[0]) }}">View Results</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p><a href="{{ url_for('add_student') }}">Add Student</a></p>
	<h2>Quizzes</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Subject</th>
				<th>Number of Questions</th>
				<th>Date Given</th>
			</tr>
		</thead>
		<tbody>
			{% for quiz in quizzes %}
			<tr>
				<td>{{ quiz[0] }}</td>
				<td>{{ quiz[1] }}</td>
				<td>{{ quiz[2] }}</td>
				<td>{{ quiz[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ url_for('add_quiz') }}">Add Quiz</a>


	<h2>Add a quiz result</h2>
	<a href="/results/add">Add Quiz Result</a>
</body>
</html>